@font-face { font-family: 'Lexend'; font-weight: 300; font-style: normal; src: url('lexend-latin-300-normal.woff2') format('woff2'); }
@font-face { font-family: 'Lexend'; font-weight: 400; font-style: normal; src: url('lexend-latin-400-normal.woff2') format('woff2'); }
@font-face { font-family: 'Lexend'; font-weight: 500; font-style: normal; src: url('lexend-latin-500-normal.woff2') format('woff2'); }
@font-face { font-family: 'Lexend'; font-weight: 600; font-style: normal; src: url('lexend-latin-600-normal.woff2') format('woff2'); }
@font-face { font-family: 'Lexend'; font-weight: 700; font-style: normal; src: url('lexend-latin-700-normal.woff2') format('woff2'); }
